html {
	background-color: #D0D0D0;
	font-family: "R Envy Code", "Inconsolata", Times, serif;
}
.customer {
	align-text: bottom;
	background-color: #60F16F;
}
.cashbox {
	background-color: #8080F2;
}
.column1 {
	background-color: #B0B0B0;
	float: left;
	width: 70%;
	height: 100vh;
}
.log {
	background-color: #DDDDDD;
	float: left;
	width: 30%;
	height: 70vh;
	font-size: 30px;
}
.grid {
	background-color: #AAAAAA;
	width: 100%;
	height: 100vh;
	border-style: solid;
}
.grid-elem {
	border-style: solid;
}
.run-params {
	height: 65vh;
	border-style: solid;
}
